<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if error == '429' %}
        <h2> Excediste el número máximo de request, vuelte a intentarlo mañana </h2>
    {% else %}


    {% if cap == 0 %}
        <h2> No se encontró la información solicitada  </h2>
    {% else %}

    <form  action="/tarea1/busqueda/" method="post">
        {% csrf_token %}
        <div align="right">
            <label for="gsearch">Buscar Personaje:</label>
            <input type="search" id="gsearch" name="gsearch">
             <input type="submit" value="Buscar">
        </div>
    </form>
    <h2> {{episodio.0.0}} </h2>
    <p> Temporada: {{temp}} </p>
    <p> Episodio: {{cap}} </p>
    <p> Fecha: {{episodio.0.1}}</p>
    <p> Personajes: </p>
    <ul>
        {% for p in episodio.0.2 %}
        <li><a href="/tarea1/personajes/{{p}}/"> {{p}}</a></li>
        {% endfor %}
    </ul>

    {% endif %}

    <form action='/tarea1/' method='GET'>
    <button type='submit'> Volver al Inicio </button>
    </form>

    {% endif %}
</body>
</html>